<?xml version="1.0" encoding="UTF-8"?>
<!-- <web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"> -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<display-name>Constraint-0</display-name>
		<web-resource-collection>
			<web-resource-name>Constraint-0</web-resource-name>
			<url-pattern>/protected/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Admin Constraint</display-name>
		<web-resource-collection>
			<web-resource-name>Admin Constraint</web-resource-name>
			<url-pattern>/protected/admin/*</url-pattern>
			<url-pattern>/protected/rest/usermanagement/*</url-pattern>
			<url-pattern>/protected/rest/userequipment/*</url-pattern>
			<url-pattern>/protected/rest/networkmanagement/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrator</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>NM Eng Constraint</display-name>
		<web-resource-collection>
			<web-resource-name>NM Eng Constraint</web-resource-name>
			<url-pattern>/protected/nme/*</url-pattern>
			<url-pattern>/protected/rest/userequipment/*</url-pattern>
			<url-pattern>/protected/rest/networkmanagement/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Network Management Engineer</role-name>
			<role-name>administrator</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Support Engineer Contraint</display-name>
		<web-resource-collection>
			<web-resource-name>Support Engineer Constraint</web-resource-name>
			<url-pattern>/protected/se/*</url-pattern>
			<url-pattern>/protected/rest/userequipment/*</url-pattern>
			<url-pattern>/protected/rest/basedata/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Support Engineer</role-name>
			<role-name>Network Management Engineer</role-name>
			<role-name>administrator</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Customer Service Constraint</display-name>
		<web-resource-collection>
			<web-resource-name>Customer Service Constraint</web-resource-name>
			<url-pattern>/protected/csr/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Customer Service</role-name>
			<role-name>Support Engineer</role-name>
			<role-name>Network Management Engineer</role-name>
			<role-name>administrator</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/protected/login.jsp</form-login-page>
			<form-error-page>/protected/error.jsp</form-error-page>
		</form-login-config>
	</login-config>

	<security-role>
		<role-name>administrator</role-name>
	</security-role>
	<security-role>
		<role-name>Network Management Engineer</role-name>
	</security-role>
	<security-role>
		<role-name>Support Engineer</role-name>
	</security-role>
	<security-role>
		<role-name>Customer Service</role-name>
	</security-role>

	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/protected/rest/*</url-pattern>
	</servlet-mapping>


</web-app>